<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259698213579-cm25lu4k8denofn68rgeifae6nuvdlgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259698213579-cm25lu4k8denofn68rgeifae6nuvdlgf</string>
	<key>API_KEY</key>
	<string>AIzaSyAE0GB6tfUsSJP7ZkclKIe_1WO1XChCoq4</string>
	<key>GCM_SENDER_ID</key>
	<string>259698213579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MuriTech.CloneTinder</string>
	<key>PROJECT_ID</key>
	<string>clonetinder-d8b2a</string>
	<key>STORAGE_BUCKET</key>
	<string>clonetinder-d8b2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259698213579:ios:4a20a8626acf4ae918d14e</string>
	<key>DATABASE_URL</key>
	<string>https://clonetinder-d8b2a.firebaseio.com</string>
</dict>
</plist>